/* :root {
  box-sizing: border-box;
  font-size: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.message-item {
  padding: 0.7em 0.7em;
}

.tooltip {
  position: relative;
}

.tooltip>.edit {
  position: absolute;
  white-space: pre;
  top: -15px;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

.tooltip>.add-user {
  position: absolute;
  white-space: pre;
  top: -15px;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

.tooltip>.delete-group {
  position: absolute;
  top: -15px;
  white-space: pre;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

.tooltip>.group-message {
  position: absolute;
  top: -13px;
  right: 50%;
  white-space: pre;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

@media (min-width: 50em) {
  .tooltip>.group-message {
    top: -20px;
  }

  .tooltip>.delete-group {
    top: -20px;
  }

  .tooltip>.add-user {
    top: -20px;
  }

  .tooltip>.edit {
    top: -20px;
  }
}

*/
