@tailwind base;

@tailwind components;

.btn {
  @apply inline-block text-white px-8 py-3 bg-red-600 font-semibold rounded-sm uppercase tracking-widest mb-8;
}
.bg-blend {
  mix-blend-mode: screen;
}
.form-buttons input::before {
  position: absolute;
  content: "login";
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #e53e3e;
  text-align: center;
  text-transform: uppercase;
  transition: left 0.3s linear;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.form-buttons input:checked::before {
  content: "signup";
  left: 50%;
}
.btn:hover {
  @apply bg-red-500;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn:active {
  @apply bg-red-800;
}
@tailwind utilities;
