@tailwind base;

@tailwind components;

.btn {
  @apply inline-block text-white px-8 py-3 bg-red-600 font-semibold rounded-sm uppercase tracking-widest mb-8;
}

.btn:hover {
  @apply bg-red-500;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn:active {
  @apply bg-red-800;
}
.scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.navbar {
  transition: height 0.5s linear;
}
@media (min-width: 640px) {
  .navbar {
    height: calc(100% - 1rem) !important;
  }
}
.message-container {
  height: calc(100vh - 2rem);
}
.bg-blend {
  mix-blend-mode: screen;
}
.form-buttons > span:first-of-type {
  left: 0%;
  transition: left 0.3s linear;
}

@tailwind utilities;
